{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<nav class="navbar bg-light navbar-light navbar-expand-md">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:profile' %}">
        {% if user.user_profile.photo %}
        <img src="http://127.0.0.1:8000/accounts{{user.user_profile.photo.url}}"
         alt="My profile pic" width="25px" height="25px" style="border-radius:50%;">
         {% endif %}
         {{user.username}}
      </a>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
  </ul>
</nav>
<h1 class="mt-2">My Profile</h1>
<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>Profile Picture:
{% if profile.photo %}
 <img src="http://127.0.0.1:8000/accounts{{profile.photo.url}}" alt="My profile pic" width="50px" height="50px">
{% endif %}
</p>
<p>Phone: {{profile.phone}}</p>
<p>Bio: {{profile.bio}}</p>
<p>City: {{profile.city}}</p>
<a href="{% url 'accounts:update_profile' %}"><button type="button" name="button" class="btn btn-primary">Update Profile</button></a>
{% endblock %}
