{% extends 'base.html' %}

{% block title %}Notes Detail{% endblock %}

{% block content %}
<nav class="navbar bg-light navbar-light navbar-expand-md">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:profile' %}">
        <img src="http://127.0.0.1:8000/accounts{{user.user_profile.photo.url}}"
         alt="My profile pic" width="25px" height="25px" style="border-radius:50%;">
         {{user.first_name}}
      </a>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'notes:new_note' %}">Create</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'notes:notes_list' %}">Notes</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:password_change' %}">Change Password</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
  </ul>
</nav>
<h1 class="mt-2">{{object.title}}</h1>
<hr class="mt-0 mb-4">
<p class="mt-2">{{object.content}}</p>
<a href="{% url 'notes:note_update' pk=object.pk %}">
  <button type="button" class="btn btn-warning" name="button">Update</button>
</a>
<a href="{% url 'notes:note_delete' pk=object.pk %}">
  <button type="button" class="btn btn-warning" name="button">Delete</button>
</a>
{% endblock %}
